// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/animation";
// External libraries
@import "font-awesome";
@import "font-awesome-sprockets";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.wrapper{
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(8, auto);
  margin-left: 1em;
  margin-right: 1em;
}

.navbar {
  grid-column: span 6;
  width: 100%;
}

.about {
  grid-column: span 5;
}

.portfolio {
  grid-column: span 6;
}

.footer {
  grid-column: span 6;
  grid-row: 8;
}

.section-header {
  grid-row-start: span 5;
  font-size: 100px;
  font-weight: 800;
  margin-left: 23px;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

@media (max-width: 1000px) {
  .name-word{
    font-size: 130px;
  }
  .card {
    max-width: 100%;
    width: 100%;
  }
  .opening {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header-brand img {
    height: 120px;
    padding-top: 0.7em;
    margin-left: 0;
  }
  .links a i.fa-envelope.red {
    color: #ef5350;
  }

  .links a i.fa-github.purple {
    color: #ab47bc;
  }

  .links a i.fa-medium.green {
    color: #4caf50;
  }

  .links a i.fa-twitter.blue {
    color: #2196f3;
  }

  .links a i.fa-linkedin.dark-blue {
    color: #3949ab;
  }
}

@media (max-width: 800px) {
  .name-word {
    font-size: 100px;
  }
  .bio {
    margin-right: 10px;
  }
  .header-links {
    font-size: 15px;
    float: left;
  }
  .img-circle {
    display: none;
  }
  .bio {
    margin-left: 0px;
  }
  .header-link {
    font-size: 28px;
    margin-right: 0.5em;
  }
}

@media (max-width: 600px) {
  .name-word {
    font-size: 80px;
    margin-top: 0px;
    letter-spacing: -5px;
  }
  .opening {
    margin-left: 5px;
    margin-right: 5px;
  }
  .card {
    margin-left: 0px;
  }
  p {
    margin-left: 0px;
    font-size: 1rem;
  }
  .header-link {
    font-size: 24px;
    margin-right: 0.5em;
  }
  .header-links {
    text-align: center;
    margin-right: -5px;
    font-size: .75rem;
  }
  .section-header {
    font-size: 50px;
  }
  .social-links {
    font-size: 50px;
  }
}

@media (max-width: 350px) {
  .name-word {
    font-size: 60px;
  }
  .header-link {
    font-size: 20px;
    margin-right: 0.5em;
  }
}