// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/animation";
// External libraries
@import "font-awesome";
@import "font-awesome-sprockets";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

html,
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(8, auto);
  margin-left: 1em;
  margin-right: 1em;
}

.navbar {
  grid-column: span 6;
  width: 100%;
}

.about {
  grid-column: span 6;
}

.portfolio {
  grid-column: span 6;
}

.footer {
  grid-column: span 6;
}

.section-header {
  font-size: 80px;
  font-weight: 800;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

@media (max-width: 1000px) {
  .card {
    max-width: 100%;
    width: 100%;
  }
  .img-circle {
    display: none;
  }
  .links a i.fa-envelope.red {
    color: #ef5350;
  }

  .links a i.fa-github.purple {
    color: #ab47bc;
  }

  .links a i.fa-medium.green {
    color: #4caf50;
  }

  .links a i.fa-twitter.blue {
    color: #2196f3;
  }

  .links a i.fa-linkedin.dark-blue {
    color: #3949ab;
  }
}

@media (max-width: 800px) {
  .name-word {
    font-size: 80px;
  }
  // .header-links {
  //   font-size: 15px;
  //   float: left;
  // }
  .img-circle {
    display: none;
  }
  .header-link {
    font-size: 30px;
    margin-right: 0.5em;
  }
   .social-links {
     font-size: 80px;
   }
}

@media (max-width: 600px) {
  .name-word {
    font-size: 80px;
    margin-top: 0px;
    letter-spacing: -5px;
  }
  .opening {
    margin-left: 5px;
    margin-right: 5px;
  }
  .card {
    margin-left: 0px;
  }
  p {
    margin-left: 0px;
    font-size: 16px;
  }
  .section-header {
    font-size: 50px;
  }
  .social-links {
    font-size: 50px;
  }
  .navbar{
    display: none;
  }
  .title{
    margin-top: 3px;
  }
}

@media (max-width: 350px) {
  .name-word {
    font-size: 60px;
  }
  .social-links {
    font-size: 30px;
  }
}