<div id="about">
  <div class="title">
    <div class="main-name">
      <span>Luiz Gustavo</span><br>
      <span>Neiva</span>
    </div>
  </div>
  <div class="about-image">
    <% link_to "https://www.github.com/luizgzn", target: "_blank" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/luizgzn", class: "img-circle" %>
    <% end %>
  </div>
</div>
