<div class="opening">
  <div class="title">
    <div class="main-name animation">
      <span>Luiz</span><br>
      <span>Gustavo</span><br>
      <span>Neiva</span>
    </div>
    <p class="intro">Engenheiro Agrônomo e Desenvolvedor Web.</p>
    <p class="intro">Apaixonado por tecnologia e agropecuária </p>
    <p class="intro">Atualmente trabalho com Ruby, Ruby on Rails, Python, SIG e geoprocessamento</p>
  </div>
  <div class="section-header">
    <div id="about" class="animation">
      <span>About</span>
    </div>
  </div>
  <div class="about-image">
    <% link_to "https://www.github.com/luizgzn", target: "_blank" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/luizgzn", class: "img-circle" %>
    <% end %>
  </div>
</div>
