<div class="opening">
  <div class="title">
    <div class="main-name animation">
      <span class="name-word">Luiz</span><br>
      <span class="name-word">Gustavo</span><br>
      <span class="name-word">Neiva</span>
    </div>
    <p class="intro">Agronomist & Web Developer.</p>
    <p class="intro">Passionate about technology and agriculture.</p>
    <p class="intro">Loves Ruby, Ruby on Rails, GIS and agroforestry.</p>
  </div>
  <div class="about-div">
    <div class="section-header">
      <a class="anchor" id="about"></a>
      <div class="animation">
        <span>About</span>
      </div>
    </div>
    <div class="bio-photo">
      <div class="about-image">
        <% link_to "https://www.github.com/luizgzn", target: "_blank" do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/luizgzn", class: "img-circle" %>
        <% end %>
      </div>
      <div class="bio">
        <p>I have been working with precision agriculture, irrigation systems, landscaping,
          agroforestry and technology applied to agribusines. I love to help farmers 
          develop their productivity, sustainabiluty and income.
        </p>
        <p>Le Wagon alumni from batch #84, Rio de Janeiro. My favorite stack right now is Ruby on Rails
          on the back-end and ES6 VanillaJS with CSS on the front-end. I also have worked with Python and R 
          for geographical information systems and data analysis.
        </p>
        <p>Semi-pro juggler and circus teacher. Percussionist, guitar player, happily married and father of two. In love with sintropic agriculture, beekeeping and choir singing.
        </p>
        <p>I graduated as an Agricultural Engineer in 2014 from Universidade Federal de Viçosa, MG, Brazil, after completing
          a research in sustainable agriculture. I did research in the Enthomology department with leaf-cutter ants and 
          in Land Use and Planning laboratory with Geographical Information Systems.
        </p>
      </div>
    </div>
  </div>
</div>
