<div class="opening">
  <div class="title">
    <div class="main-name animation">
      <span>Luiz</span><br>
      <span>Gustavo</span><br>
      <span>Neiva</span>
    </div>
    <p class="intro">Agronomist & Web Developer.</p>
    <p class="intro">Passionate about technology and agriculture.</p>
    <p class="intro">Loves Ruby, Ruby on Rails, GIS and agroforestry.</p>
  </div>
  <div class="section-header">
    <a class="anchor" id="about"></a>
    <div class="animation">
      <span>About</span>
    </div>
  </div>
  <div class="bio-photo">
    <div class="about-image">
      <% link_to "https://www.github.com/luizgzn", target: "_blank" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/luizgzn", class: "img-circle" %>
      <% end %>
    </div>
    <div class="bio">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id nunc faucibus metus blandit euismod tincidunt eget ligula.
      Nunc eu luctus augue, ac sollicitudin augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet
      orci metus, eu luctus nulla efficitur ut. Quisque et sem ut ante vulputate facilisis ultricies ac risus. Pellentesque a magna
      ut tellus sagittis sollicitudin.</p>
      <p>Vestibulum pellentesque, tellus at tincidunt aliquet, nunc nisi sagittis felis, sed dapibus odio felis non nulla. Nam ultricies
      eget massa a convallis. Nullam mattis dolor id neque pulvinar laoreet. Integer ac congue metus, vitae vehicula enim.</p>
      <p>Donec lobortis lorem eu faucibus ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      mus. Duis facilisis, justo ac dapibus varius, justo metus blandit eros, eget facilisis erat elit nec massa. Proin nulla ante,
      lacinia interdum lacus quis, auctor aliquet tortor. Mauris quis aliquet lectus.</p>
      <p>Integer egestas, est vitae ultricies viverra, tellus massa pretium sapien, quis iaculis nulla mauris eu felis. Nam eget ex
      ullamcorper enim accumsan porttitor porttitor quis eros. Fusce aliquet dui in lacus vulputate, non mollis diam luctus. Nam
      eget bibendum velit, non ullamcorper lectus. Nullam cursus nisl et ex porttitor cursus.</p>
    </div>
  </div>
</div>
