<div class="links" id="contact">
  <a href="mailto:luizgzn@gmail.com">
    <i class="fa fa-envelope red" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://github.com/luizgzn">
    <i class="fa fa-github purple" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://www.linkedin.com/in/luiz-neiva-445ab27b">
    <i class="fa fa-linkedin dark-blue" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://medium.com/@luizgzn">
    <i class="fa fa-medium green" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://twitter.com/gugui_guru">
    <i class="fa fa-twitter blue" aria-hidden="true"></i>
    </i>
  </a>
</div>