
<div class="contact">
  <div class="section-header">
    <a class="anchor" id="contact"></a>
      <div class="animation">
        <span>Contact</span>
      </div>
    </div>
</div>
<div class="links">
  <a href="mailto:luizgzn@gmail.com" class="social-links">
    <i class="fa fa-envelope red" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://github.com/luizgzn" class="social-links">
    <i class="fa fa-github purple" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://www.linkedin.com/in/luiz-neiva-445ab27b" class="social-links">
    <i class="fa fa-linkedin dark-blue" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://medium.com/@luizgzn" class="social-links">
    <i class="fa fa-medium green" aria-hidden="true"></i>
    </i>
  </a>
  <a href="https://twitter.com/gugui_guru" class="social-links">
    <i class="fa fa-twitter blue" aria-hidden="true"></i>
    </i>
  </a>
</div>