<div class="header" id="header">
    <!-- Logo -->
    <a href="/" class="header-brand">
        <img class="polen" src="images/logo.png" alt="logo">
    </a>
    <!-- Right Navigation -->
    <div class="header-links">
        <%= link_to "About", "#about", class: "header-item header-link purple"%>
        <%= link_to "Portfolio", "#portfolio", class: "header-item header-link dark-blue"%>
        <%= link_to "Blog", "blog.html.erb", class: "header-item header-link green"%>
        <%= link_to "Contact", "#contact", class: "header-item header-link blue"%>
    </div>
</div>