<div class="content">
  <div class="section-header">
    <a class="anchor" id="portfolio"></a>
    <div class="animation">
      <span>Portfolio</span>
    </div>
  </div>
  <div class="cards">
    <% link_to "http://www.gocrops.com/", class: "card green-background" do %>
        <h5>
          GoCrops
        </h5>
        <p class="icons">
          <i class="devicon-ruby-plain" aria-hidden="true"></i>
          <i class="devicon-rails-plain" aria-hidden="true"></i>
          <i class="devicon-postgresql-plain" aria-hidden="true"></i>
        </p>
        <p>
          Ruby // Ruby on Rails // PostgreSQL
        </p>
        <p>
          GoCrops is a web application that helps farmers track prices for their crops. The app scraps price information, has a simple
          price trends tool and gather data from the farmers like: crops production, farm location, harvest dates, harvest quantity
          and distribute this information for wholesalers and marketplaces through an API.
        </p>
    <% end %>
    <% link_to "http://www.rede-legal.herokuapp.com", class: "card red-background" do %>
        <h5>
          Rede Legal
        </h5>
        <p class="icons">
          <i class=" fa-commenting-o" aria-hidden="true"></i>
        </p>
        <p>
          Chat Bot
        </p>
        <p>
         Rede Legal is a project that got the 2ยบ place in ColaborAmerica Hackathon. It is a MVP for a chatbot
         know their rights and how the law can protect them,
        </p>
        <% end %>
    <% link_to "http://www.plug-and-play.herokuapp.com", class: "card red-background" do %>
        <h5>
          Plug & Play
        </h5>
        <p class="icons">
          <i class="devicon-ruby-plain" aria-hidden="true"></i>
          <i class="devicon-rails-plain" aria-hidden="true"></i>
          <i class="devicon-postgresql-plain" aria-hidden="true"></i>
        </p>
        <p>
          Ruby // Ruby on Rails // PostgreSQL
        </p>
        <p>
          Plug & Play is a marketplace to rent instruments. Done as a AirBnB mockup in one week at Le Wagon Bootcamp.
        </p>
      <% end %>
  </div>
</div>