.opening {
  height: 200vh;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  grid-row-start: 2;
  grid-column: span 12;
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    margin-left: 23px;
    -webkit-transition: all 6s ease;
    transition: all 6s ease;
  }
  img:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }

  .title {
    margin-bottom: 30px;
    mix-blend-mode: darken;
    margin-top: 100px;
  }
  .main-name {
    font-size: 250px;
    font-weight: 800;
    letter-spacing: -20px;
    line-height: 78%;

  }
  .intro {
    margin-bottom: -10px;
    font-size: 1.5em;
    margin-left: 23px;
  }
  #about{
    grid-row-start: span 5;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-left: 23px;
  }
}
