.footer {
    background: #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgb(0, 5, 5);
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: #FFFFFF;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links a:hover {
    color: rgb(255, 123, 0);
}

.footer .fa-heart {
    color: #D23333;
}

.footer-copyright {
    text-align: right;
}