.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  text-decoration: none;
  font-size: 120px;
  padding: 0px 10px;
}

.links a {
  color: darkgrey;
}

/* Hover colors links */

.links a i.fa-envelope.red:hover {
  color: #ef5350;
}

.links a i.fa-github.purple:hover {
  color: #ab47bc;
}

.links a i.fa-medium.green:hover {
  color: #34e79a;
}

.links a i.fa-twitter.blue:hover {
  color: #2196f3;
}

.links a i.fa-linkedin.dark-blue:hover {
  color: #3949ab;
}
