/* Main header */

.header {
    background: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    height: 100px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Logo */

.header-brand img {
    height: 120px;
    padding-top: 0.7em;
}

/* Right section */

.header-links a {
    text-decoration: none;
}


/* Basic header item */

.header-item {
    cursor: pointer;
    padding: 0 20px;
}


/* Header link */

.header-link {
    color: #000000;
    font-size: 36px;
}

.header-link.purple:hover {
    color: #ab47bc;
}

.header-link.green:hover {
    color: #4caf50;
}

.header-link.blue:hover {
    color: #2196f3;
}

.header-link.dark-blue:hover {
    color: #3949ab;
}

.nav-up {
    top: -40px; // same as header height. use variables in LESS/SASS
}


// Header name

.hidden {
    display: none;
}

.name {
    margin-left: 20px;
    float: left;
    margin-top: 10px;
}

.opacity {
    opacity: 0.9;
}