.cards {
  display: flex;
  display: -webkit-flexbox;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
}
.card {
  margin: .5rem .5rem 1rem .5rem;
  padding: .5rem 1rem 1rem 1rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  max-width: 27%;
  color: white;
}
a.card {
text-decoration: none;
}
.card:hover {
  position: relative;
  top: -5px;
  left: -5px;
  box-shadow: 5px 5px 5px 5px lightgray;
}
.icons {
  margin-top: -30px;
  margin-bottom: -10px;
  font-size: 35px;
  color: white;
}
h5 {
  font-size: 1.64em;
  line-height: 110%;
  font-weight: bold;
  color: white;
}
.green-background{
  background-color: #34e79a;
}
.red-background {
  background-color: #ef5350;
}
.blue-background {
  background-color: #3949ab;
}
