/* Home general */
#home {
    background-color: #FFFFFF;
    color: white;
    height: 100vh;
    display: block;
    margin: 8px;
    background: white;
    outline-style: none;
}

body {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

