/* Home general */
#home {
    background-color: #FFFFFF;
    color: white;
    height: 100vh;
    margin: 8px;
    background: white;
    outline-style: none;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Open Sans', sans-serif;
}

