/* Home general */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

h5 {
    font-size: 1.64em;
    line-height: 110%;
}

.about {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

