---
title: Luiz Gustavo Zincone Neiva
---
<div class="wrapper">
    <div class="head"> <%= partial 'layouts/navbar' %></div>
    <div class="torso"> <%= partial 'layouts/about' %></div>
    <div class="stomach"> <%= partial 'layouts/portfolio' %></div>
    <div class="foot"> <%= partial 'layouts/footer' %></div>
</div>