---
title: Luiz Gustavo Zincone Neiva
---
<div class="wrapper">
    <div class="navbar"> <%= partial 'layouts/navbar' %></div>
    <div class="about"> <%= partial 'layouts/about' %></div>
    <div class="portfolio"> <%= partial 'layouts/portfolio' %></div>
    <div class="footer"> <%= partial 'layouts/footer' %></div>
</div>