---
title: Luiz Gustavo Zincone Neiva
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <div class="links">
      <a href="luizgzn@gmail.com">
        <i class="fa fa-envelope red"></i>
      </a>
      <a href="https://github.com/luizgzn">
        <i class="fa fa-github purple"></i>
      </a>
      <a href="https://www.facebook.com/luiz.neiva">
        <i class="fa fa-medium green"></i>
      </a>
      <a href="https://twitter.com/gugui_guru">
        <i class="fa fa-twitter blue"></i>
      </a>
      <a href="https://www.linkedin.com/in/luiz-neiva-445ab27b">
        <i class="fa fa-linkedin dark-blue"></i>
      </a>
    </div>
  </div>
</div>
